<p>

</p>
<div class="container">

    <div class="row">
        <div class="col-8">
            <table>

                <tr class="horizontal">

                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/27.png');">

                        <div *ngIf="Px.pos==27" class="dotRed"></div>
                        <div *ngIf="Py.pos==27" class="dotBlue"></div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/26.png');">
                        <div *ngIf=" data[26].ownedBy != 'bank' " [ngStyle]="{'background-color': data[26].ownedBy}"
                            class="dotRedTicketTop">{{data[26].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==26" class="dotRed"></div>
                            <div *ngIf="Py.pos==26" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/25.png');">
                        <div *ngIf=" data[25].ownedBy != 'bank' " [ngStyle]="{'background-color': data[25].ownedBy}"
                            class="dotRedTicketTop">{{data[25].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==25" class="dotRed"></div>
                            <div *ngIf="Py.pos==25" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/24.png');">
                        <div *ngIf=" data[24].ownedBy != 'bank' " [ngStyle]="{'background-color': data[24].ownedBy}"
                            class="dotRedTicketTop">{{data[24].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==24" class="dotRed"></div>
                            <div *ngIf="Py.pos==24" class="dotBlue"></div>
                        </div>
                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/23.png');">
                        <div *ngIf=" data[23].ownedBy != 'bank' " [ngStyle]="{'background-color': data[23].ownedBy}"
                            class="dotRedTicketTop">{{data[23].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==23" class="dotRed"></div>
                            <div *ngIf="Py.pos==23" class="dotBlue"></div>
                        </div>
                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/22.png');">
                        <div *ngIf=" data[22].ownedBy != 'bank' " [ngStyle]="{'background-color': data[22].ownedBy}"
                            class="dotRedTicketTop">{{data[22].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==22" class="dotRed"></div>
                            <div *ngIf="Py.pos==22" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/21.png');">
                        <div *ngIf=" data[21].ownedBy != 'bank' " [ngStyle]="{'background-color': data[21].ownedBy}"
                            class="dotRedTicketTop">{{data[21].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==21" class="dotRed"></div>
                            <div *ngIf="Py.pos==21" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/20.png');">

                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==20" class="dotRed"></div>
                            <div *ngIf="Py.pos==20" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/19.png');">
                        <div *ngIf=" data[19].ownedBy != 'bank' " [ngStyle]="{'background-color': data[19].ownedBy}"
                            class="dotRedTicketTop">{{data[19].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==19" class="dotRed"></div>
                            <div *ngIf="Py.pos==19" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/18.png');">
                        <div *ngIf="Px.pos==18" class="dotRed"></div>
                        <div *ngIf="Py.pos==18" class="dotBlue"></div>

                    </td>
                </tr>
                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/28.png');">

                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==28" class="dotRed"></div>
                            <div *ngIf="Py.pos==28" class="dotBlue"></div>
                        </div>

                    </td>

                    <td style="border: none;" rowspan="3" colspan="8">

                        <div>Hello</div>
                        <div>World!!!</div>
                        <div>
                            Player Green: ${{Px.amount|number : '.2-2'}}


                        </div>
                        <div>Player Blue: ${{Py.amount|number : '.2-2'}}</div>
                        <!-- <button (click)="Px.pos=(Px.pos+1)%36;Py.pos=(Py.pos+1)%36;">Click</button> -->



                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/17.png');">
                        <div *ngIf=" data[17].ownedBy != 'bank' " [ngStyle]="{'background-color': data[17].ownedBy}"
                            class="dotRedTicketRight">{{data[17].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==17" class="dotRed"></div>
                            <div *ngIf="Py.pos==17" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>
                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/29.png');">

                        <div *ngIf=" data[29].ownedBy != 'bank' " [ngStyle]="{'background-color': data[29].ownedBy}"
                            class="dotRedTicketLeft">{{data[29].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==29" class="dotRed"></div>
                            <div *ngIf="Py.pos==29" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/16.png');">
                        <div *ngIf=" data[16].ownedBy != 'bank' " [ngStyle]="{'background-color': data[16].ownedBy}"
                            class="dotRedTicketRight">{{data[16].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==16" class="dotRed"></div>
                            <div *ngIf="Py.pos==16" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>
                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/30.png');">
                        <div *ngIf=" data[30].ownedBy != 'bank' " [ngStyle]="{'background-color': data[30].ownedBy}"
                            class="dotRedTicketLeft">{{data[30].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==30" class="dotRed"></div>
                            <div *ngIf="Py.pos==30" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/15.png');">
                        <div *ngIf=" data[15].ownedBy != 'bank' " [ngStyle]="{'background-color': data[15].ownedBy}"
                            class="dotRedTicketRight">{{data[15].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==15" class="dotRed"></div>
                            <div *ngIf="Py.pos==15" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>
                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/31.png');">
                        <div *ngIf=" data[31].ownedBy != 'bank' " [ngStyle]="{'background-color': data[31].ownedBy}"
                            class="dotRedTicketLeft">{{data[31].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==31" class="dotRed"></div>
                            <div *ngIf="Py.pos==31" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style="border: none;" rowspan="5" colspan="8">
                        <div *ngIf="turn==true; else goblue">
                            <button type="button" class="btn btn-success" [disabled]="P1==true" (click)="roll1()">Go
                                GREEN</button>
                        </div>
                        <ng-template #goblue>



                            <button type="button" class="btn btn-primary" [disabled]="P2==true" (click)="roll2()">Go
                                BLUE</button>
                        </ng-template>

                        <div id="dice-box1"></div>



                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/14.png');">
                        <div *ngIf=" data[14].ownedBy != 'bank' " [ngStyle]="{'background-color': data[14].ownedBy}"
                            class="dotRedTicketRight">{{data[14].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==14" class="dotRed"></div>
                            <div *ngIf="Py.pos==14" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>
                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/32.png');">

                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==32" class="dotRed"></div>
                            <div *ngIf="Py.pos==32" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/13.png');">
                        <div *ngIf=" data[13].ownedBy != 'bank' " [ngStyle]="{'background-color': data[13].ownedBy}"
                            class="dotRedTicketRight">{{data[13].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==13" class="dotRed"></div>
                            <div *ngIf="Py.pos==13" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>
                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/33.png');">
                        <div *ngIf=" data[33].ownedBy != 'bank' " [ngStyle]="{'background-color': data[33].ownedBy}"
                            class="dotRedTicketLeft">{{data[33].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==33" class="dotRed"></div>
                            <div *ngIf="Py.pos==33" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/12.png');">
                        <div *ngIf=" data[12].ownedBy != 'bank' " [ngStyle]="{'background-color': data[12].ownedBy}"
                            class="dotRedTicketRight">{{data[12].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==12" class="dotRed"></div>
                            <div *ngIf="Py.pos==12" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>

                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/34.png');">
                        <div *ngIf=" data[34].ownedBy != 'bank' " [ngStyle]="{'background-color': data[34].ownedBy}"
                            class="dotRedTicketLeft">{{data[34].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==34" class="dotRed"></div>
                            <div *ngIf="Py.pos==34" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/11.png');">
                        <div *ngIf=" data[11].ownedBy != 'bank' " [ngStyle]="{'background-color': data[11].ownedBy}"
                            class="dotRedTicketRight">{{data[11].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==11" class="dotRed"></div>
                            <div *ngIf="Py.pos==11" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>
                <tr class="vertical">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/35.png');">
                        <div *ngIf=" data[35].ownedBy != 'bank' " [ngStyle]="{'background-color': data[35].ownedBy}"
                            class="dotRedTicketLeft">{{data[35].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==35" class="dotRed"></div>
                            <div *ngIf="Py.pos==35" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/10.png');">
                        <div *ngIf=" data[10].ownedBy != 'bank' " [ngStyle]="{'background-color': data[10].ownedBy}"
                            class="dotRedTicketRight">{{data[10].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==10" class="dotRed"></div>
                            <div *ngIf="Py.pos==10" class="dotBlue"></div>
                        </div>

                    </td>
                </tr>

                <tr class="horizontal">
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/0.png');">
                        <div *ngIf="Px.pos==0" class="dotRed"></div>
                        <div *ngIf="Py.pos==0" class="dotBlue"></div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/1.png');">

                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==1" class="dotRed"></div>
                            <div *ngIf="Py.pos==1" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/2.png');">
                        <div *ngIf=" data[2].ownedBy != 'bank' " [ngStyle]="{'background-color': data[2].ownedBy}"
                            class="dotRedTicketBottom">{{data[2].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==2" class="dotRed"></div>
                            <div *ngIf="Py.pos==2" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/3.png');">
                        <div *ngIf=" data[3].ownedBy != 'bank' " [ngStyle]="{'background-color': data[3].ownedBy}"
                            class="dotRedTicketBottom">{{data[3].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==3" class="dotRed"></div>
                            <div *ngIf="Py.pos==3" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/4.png');">
                        <div *ngIf=" data[4].ownedBy != 'bank' " [ngStyle]="{'background-color': data[4].ownedBy}"
                            class="dotRedTicketBottom">{{data[4].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==4" class="dotRed"></div>
                            <div *ngIf="Py.pos==4" class="dotBlue"></div>
                        </div>
                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/5.png');">

                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==5" class="dotRed"></div>
                            <div *ngIf="Py.pos==5" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/6.png');">
                        <div *ngIf=" data[6].ownedBy != 'bank' " [ngStyle]="{'background-color': data[6].ownedBy}"
                            class="dotRedTicketBottom">{{data[6].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==6" class="dotRed"></div>
                            <div *ngIf="Py.pos==6" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/7.png');">

                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==7" class="dotRed"></div>
                            <div *ngIf="Py.pos==7" class="dotBlue"></div>
                        </div>

                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/8.png');">
                        <div *ngIf=" data[8].ownedBy != 'bank' " [ngStyle]="{'background-color': data[8].ownedBy}"
                            class="dotRedTicketBottom">{{data[8].house}}</div>
                        <div>
                            &nbsp;
                            <div *ngIf="Px.pos==8" class="dotRed"></div>
                            <div *ngIf="Py.pos==8" class="dotBlue"></div>
                        </div>
                    </td>
                    <td style=" background-size: 100% 100%;background-image: url('assets/pics/9.png');">

                        <div *ngIf="Px.pos==9" class="dotRed"></div>
                        <div *ngIf="Py.pos==9" class="dotBlue"></div>

                    </td>
                </tr>





            </table>
        </div>
        <div class="col-4">

            <div *ngIf="hideBoth==false; else ShowPlayerOptions">

            </div>
            <ng-template #ShowPlayerOptions>

                <div *ngIf="turn==false; else PlayerY">
                    <div style="padding-bottom: 10px;" *ngIf="!checkIfOwnedByX()">
                        <button type="button" class="btn btn-success" [disabled]="checkIfOwnedByX()"
                            (click)="buyX()">Buy
                            This Property</button></div>
                    <div style="padding-bottom: 10px;" *ngIf="showHomeOption"><button type="button"
                            class="btn btn-success" [disabled]="!showHomeOption" (click)="buildHouseX()">Build
                            House</button></div>
                    <div style="padding-bottom: 10px;" *ngIf="showPayRent"> <button type="button"
                            class="btn btn-success" [disabled]="!showPayRent" (click)="payRentToY()">Pay
                            Rent</button></div>
                    <div *ngIf="Px.ownedLand.length>0" style="padding-bottom: 10px;" class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            View / Sell Properties
                        </button>
                        <div style="max-height: 500px; overflow: scroll;" class="dropdown-menu">
                            <div class="dropdown-item">
                                <div style="background-color: cornsilk;">Your Properties List</div>
                            </div>
                            <div style="cursor: pointer; " class="dropdown-item" *ngFor="let land of Px.ownedLand">
                                <div> {{land.name}}
                                    ${{land.price|number : '.2-2'}}</div>
                                <div *ngIf="land.house.toString()!=''" style="margin: 0 0 2px 15px;">
                                    <button (click)="sellProperty('RMV_HOUSE_G',land)"
                                        class="btn btn-primary btn-sm">Remove
                                        House (${{land.price * 1.8|number : '.2-2'}})</button></div>
                                <div style="margin: 0 0 2px 15px;"> <button (click)="sellProperty('SELL_BANK_G',land)"
                                        class="btn btn-warning btn-sm">Sell To
                                        Bank
                                        (${{(land.house.toString()!=''?land.price*2.7:land.price*0.9)|number : '.2-2'}})</button>
                                </div>

                                <div style="margin: 0 0 2px 15px;"><button (click)="sellProperty('SELL_B',land)"
                                        class="btn btn-primary btn-sm">Sell To
                                        Blue
                                        (${{(land.house.toString()!=''?land.price*3:land.price)|number : '.2-2'}})</button>
                                </div>
                                <hr />
                            </div>


                        </div>
                    </div>


                </div>
                <ng-template #PlayerY>
                    <div style="padding-bottom: 10px;" *ngIf="!checkIfOwnedByY()"><button type="button"
                            class="btn btn-primary" [disabled]="checkIfOwnedByY()" (click)="buyY()">Buy
                            This Property</button></div>
                    <div style="padding-bottom: 10px;" *ngIf="showHomeOption"> <button type="button"
                            class="btn btn-primary" [disabled]="!showHomeOption" (click)="buildHouseY()">Build
                            House</button></div>
                    <div style="padding-bottom: 10px;" *ngIf="showPayRent"> <button type="button"
                            class="btn btn-primary" [disabled]="!showPayRent" (click)="payRentToX()">Pay
                            Rent</button></div>



                    <div *ngIf="Py.ownedLand.length>0" style="padding-bottom: 10px;" class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            View / Sell Properties
                        </button>
                        <div style="max-height: 500px; overflow: scroll;" *ngIf="Py.ownedLand.length!=0"
                            class="dropdown-menu">
                            <div class="dropdown-item">
                                <div style="background-color: cornsilk;">Your Properties List</div>
                            </div>
                            <div style="cursor: pointer; " class="dropdown-item" *ngFor="let land of Py.ownedLand">
                                <div> {{land.name}}
                                    ${{land.price|number : '.2-2'}}</div>
                                <div *ngIf="land.house.toString()!=''" style="margin: 0 0 2px 15px;"><button
                                        (click)="sellProperty('RMV_HOUSE_B',land)" class="btn btn-primary btn-sm">Remove
                                        House (${{land.price * 1.8|number : '.2-2'}})</button></div>
                                <div style="margin: 0 0 2px 15px;"> <button (click)="sellProperty('SELL_BANK_B',land)"
                                        class="btn btn-warning btn-sm">Sell To
                                        Bank
                                        (${{(land.house.toString()!=''?land.price*2.7:land.price*0.9)|number : '.2-2'}})</button>
                                </div>

                                <div style="margin: 0 0 2px 15px;"><button (click)="sellProperty('SELL_G',land)"
                                        class="btn btn-success btn-sm">Sell To
                                        Green
                                        (${{(land.house.toString()!=''?land.price*3:land.price)|number : '.2-2'}})</button>
                                </div>
                                <hr />
                            </div>


                        </div>
                    </div>

                </ng-template>










                <div style="padding-bottom: 10px;">
                    <button type="button" class="btn btn-warning" (click)="finish()">No Transaction
                    </button></div>
            </ng-template>



        </div>
    </div>
</div>
<p>

</p>