
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
.hide{
  visibility: hidden;
}
.show{
  visibility: visible;
}
.vertical-horizontal-container{
 
  width: 60px;
  
  height: auto;
 
  position: relative;
  display: inline-block;
  margin: 2px;

}
.square{
  width: 80px;
  
  height: auto;
 
  position: relative;
  display: inline-block;
  margin: 2px;
}
.corner {
  border:1px solid black;
  background: lightblue;
  width: 80px;
  height: 80px;
 
}

.top-bottom-circle {
  visibility: hidden;
  background: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
 
  margin: 2px  auto 2px auto;
}

.vertical-rectangle {
  
  border:1px solid black;
  background: lightblue;
  width: 60px;
  height: 80px;
}

.horizontal-vertical-container{
 
  height: 60px;
  top:-33px;
  width: auto;
  position: relative;
  display: inline-block;
  margin: 2px;

}

.left-circle {
  visibility: hidden;
  background: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  display: inline-block;
  position: absolute;
  top: 50%; left: 115%;
  transform: translate(-50%,-50%);
}
.right-circle {
  visibility: hidden;
  background: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  display: inline-block;
  position: absolute;
  top: 50%; left: -15%;
  transform: translate(-50%,-50%);
}

.horizontal-rectangle {
  border:1px solid black;
  background: lightblue;
  width: 80px;
  height: 60px;

  position: relative;
  display: inline-block;
}












.triangle-up {
  margin: 2px  auto 2px auto;
  width: 0;
  height: 0;
  position: absolute;
  top: 12%; left: 50%;
  transform: translate(-50%,-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid lightblue;
}
.triangle-down {
  margin: 2px  auto 2px auto;
  width: 0;
  height: 0;
  position: absolute;
  top: 84%; left: 50%;
  transform: translate(-50%,-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid lightblue;
}
.triangle-right {
  margin: 2px  auto 2px auto;
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  top: 50%; left: 118%;
  transform: translate(-50%,-50%);
  
  border-top: 15px solid transparent;
 border-left: 25px solid lightblue;
 border-bottom: 15px solid transparent;
}
.triangle-left {
  margin: 2px  auto 2px auto;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%; left: -17%;
  transform: translate(-50%,-50%);
  border-top: 15px solid transparent;
 border-right: 25px solid lightblue;
 border-bottom: 15px solid transparent;
}


.greenPlayer{
  position: absolute;
   width: 30px;
   height:30px; 
   background-color: green;
  left:30%;
  top:25%;
   border-radius: 50%;
   opacity: 0.8;
}
.bluePlayer{
  position: absolute;
  opacity: 0.8;
   width: 30px;
   height:30px; 
   background-color: blue;
  left:28%;
  top:18%;
   border-radius: 50%;
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
   
    border: 1px solid yellow;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
   
    border:10px solid yellowgreen;
    opacity: 0;
  }
}


/* Below Here Are only for old html file*/


  .horizontal td{
    border: 1px solid black;
      width: 60px;
      height: 90px;
      text-align: center;
      transition: border-width 0.6s linear;
  }
  .horizontal .animateborder{
    border-color:green;
    border-width: 10px;
  }
  .vertical .animateborder{
    border-color:green;
    border-width: 10px;
  }
  .animateborder{
    border-width: 10px;
  }
 
  /* .horizontal td:hover { border-width: 10px;  }
  .vertical td:hover { border-width: 10px; } */



  .vertical td{
    border: 1px solid black;
    width: 90px;
    height: 60px;
    text-align: center;
    transition: border-width 0.6s linear;
  }
  .dotRed {
    position: relative;
    height: 20px;
    width: 20px;
    background-color:green;
    border-radius: 50%;
    left:5px;
    display: inline-block;
  }
  .dotRedTicketBottom{

    position: relative;
    height: 20px;
    width: 20px;
    color:white;
    border-radius: 50%;
    top:-40px;
    display: inline-block;
  }
  .dotRedTicketTop{

    position: relative;
    height: 20px;
    width: 20px;
    color:white;
    border-radius: 50%;
    bottom:-72px;
    display: inline-block;
  }
  
  .dotRedTicketLeft{

    position: relative;
    height: 20px;
    width: 20px;
    color:white;
    border-radius: 50%;
    right:-55px;
    top:10px;
    display: inline-block;
  }
  .dotRedTicketRight{

    position: relative;
    height: 20px;
    width: 20px;
    color:white;
    border-radius: 50%;
    left:-55px;
    top:10px;
    display: inline-block;
  }

  .dotBlue {
    position: relative;
    height: 20px;
    width: 20px;
    background-color:blue;
    border-radius: 50%;
    left:-5px;
    display: inline-block;
  }
 